<div class="d-flex flex-column align-items-center">
  <div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="isFlag"
        [(ngModel)]="isFlag"
      />
      <label class="form-check-label" for="switchCheckDefault"
        >Dark Theme</label
      >
    </div>
  </div>
  <div class="card p-4 mb-3" style="width: 18rem" [class.bg-dark]="isFlag" [class.text-white]="isFlag">
    {{isFlag}}
    <img [src]="imageURL" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card’s content.
      </p>
    </div>
  </div>
</div>
